<header class="header">
    <div>
        <span> Admin Panel</span>
    </div>
</header>
<div class="mainbody">
    <div class="sidebar">
        <mat-nav-list>
            <a mat-list-item routerLink="/admin/tickets" class="list-item" >Ticket Forms</a>
            <a mat-list-item routerLink="/admin/categories" class="list-item">Categories</a>
            <a mat-list-item routerLink="/admin/subcategories" class="list-item">SubCategories</a>
        </mat-nav-list>
    </div>
    <div class="content">
        <app-admin-message></app-admin-message>
        <router-outlet></router-outlet>
    </div>
</div>