.error{
    color: red;
    padding: 10px;
    text-align: center;
}
.loginForm{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}