.messageDialog {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
}

.message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonAction {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}