table {
    width: 100%;
}

.mat-column-id {
    width: 60px;
}
.mat-column-actions {
    width: 200px;
}
.headerRow{
    display: flex;
    flex-direction: row;
}
.headerLabel{
    width: 100%;
    justify-content: flex-start;
}
.buttonAdd{
    justify-content: flex-end;
}
mat-form-field{
    display: flex;
}