<div [formGroup]="parentForm" class="formTicket">
    <mat-form-field appearance="fill">
        <mat-label>Label:</mat-label>
        <input matInput placeholder="Enter the ticket label" formControlName="label">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Subcategory</mat-label>
        <mat-select formControlName="subCategoryId">
            <mat-option *ngFor="let el of subcategories" [value]="el.id">
                {{el.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <h3>Add input fields:</h3>

    <ng-container formArrayName="formFields">
        <ng-container *ngFor="let formField of getFormFields().controls; let i = index">
            <div [formGroupName]="i" class="formFieldRow">
                <!-- <mat-form-field appearance="fill">
                    <input matInput formControlName="id" placeholder="id">
                </mat-form-field> -->

                <mat-form-field appearance="fill">
                    <input matInput formControlName="key" placeholder="key">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <input matInput formControlName="label" placeholder="label">
                </mat-form-field>

                <mat-checkbox class="center" formControlName="required">Required</mat-checkbox>
                <mat-form-field appearance="fill" class="orderInput">
                    <input matInput formControlName="order" placeholder="order">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>controlType</mat-label>
                    <mat-select formControlName="controlType" (selectionChange)="changeControlType($event.value, i)">
                        <mat-option *ngFor="let controlType of controlTypes "
                            [value]="controlType">{{controlType}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                <!-- *ngIf="additionalOptions" -->
                    <table mat-table class="mat-elevation-z8" formArrayName="options" [dataSource]="dataSource[i]">
                        <tr mat-row *matRowDef="let row; let optionsIndex = index; columns: displayColumns;"></tr>
                        <ng-container matColumnDef="key">
                            <th mat-header-cell *matHeaderCellDef> key </th>
                            <td mat-cell *matCellDef="let row; let optionsIndex = index" [formGroupName]="optionsIndex">
                                <input type="text" formControlName="key" placeholder="key">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <th mat-header-cell *matHeaderCellDef> value </th>
                            <td mat-cell *matCellDef="let row; let optionsIndex = index" [formGroupName]="optionsIndex">
                                <input type="text" formControlName="value" placeholder="value">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> action </th>
                            <td mat-cell *matCellDef="let row; let optionsIndex = index" [formGroupName]="optionsIndex">
                                <button mat-mini-fab type="button"
                                    (click)="deleteOption(i, optionsIndex)"><mat-icon>delete_forever</mat-icon></button>
                            </td>
                        </ng-container>
                    </table>
                    <button mat-mini-fab type="button" (click)="addOption(i)"><mat-icon>add</mat-icon></button>
                </div>

                <mat-form-field appearance="fill">
                    <input matInput formControlName="type" placeholder="type">
                </mat-form-field>

                <button mat-mini-fab class="center" (click)="deleteFormField(i)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </div>
            <mat-divider class="divider" *ngIf="(i<formFields.length-1)"></mat-divider>
        </ng-container>
    </ng-container>
    <div>
        <button mat-mini-fab (click)="addFieldForm()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div>
        <div>
            <button mat-flat-button color="primary" (click)="submit()" [disabled]="!parentForm.valid">Save</button>
        </div>
        <button mat-flat-button (click)="formPreview()">
            Preview
        </button>
    </div>
    <div>
        {{this.parentForm.value | json}}
    </div>
</div>